.container_game_board {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  gap: 20px;

  & .header_game_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & .container_option_game_board {
      display: flex;
      gap: 20px;

      & .option {
        cursor: default;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        background-color: #3c5b6f;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .reload {
      color: #3c5b6f;
      width: 100px;
      height: 40px;
      cursor: pointer;
    }
  }

  & .counter_victories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8px;
    align-items: center;

    & .option {
      padding-inline: 8px;
      background-color: #3c5b6f;
      border-radius: 5px;

      & .x_victories {
        font-weight: bold;
        color: #9dde8b;
      }
      & .y_victories {
        font-weight: bold;
        color: #ad88c6;
      }
    }
  }

  & .game_board {
    display: flex;
    flex-direction: column;
    background-color: #948979;
    gap: 20px;
    padding-block: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    & .row_game_board {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-inline: 20px;
    }
  }
}
